@media (max-width: 910px) {
    .main p{
        font-size: 25px;
    }
    .main h2{
        font-size: 45px;
    }
}

@media (max-width: 750px) {
    .main p{
        font-size: 20px;
    }
}

@media (max-width: 615px) {
    .main p{
        font-size: 16px;
    }
    .main .button{
        height: 50px;
        width: 150px;
    }
    .main .button .h3{
        font-size: 25px;
        margin-left: 150px;
    }
}

@media (max-width: 500px) {
    .main p{
        font-size: 14px;
    }
}
@media (max-width: 420px) {
    .main h2{
        font-size: 36px;
    }
}