@media (max-width: 910px) {
    .main p{
        font-size: 25px;
    }
    .main h2{
        font-size: 45px;
    }
}

@media (max-width: 870px) {
    .main .text{
        width: 500px;
    }
}

@media (max-width: 750px) {
    .main p{
        font-size: 23px;
    }
    .main h2{
        font-size: 35px;
    }

    .main .button{
        margin: auto;
    }

    .main .button{
        height: 50px;
        width: 150px;
    }
    .main .button .h3{
        font-size: 20px;
    }
}

@media (max-width: 690px){
    .main .text{
        width: 400px;
    }
}

@media (max-width: 615px) {
    .main p{
        font-size: 23px;
    }
}

@media (max-width: 500px) {
    .main p{
        font-size: 23px;
    }
    .main .text{
        width: 300px;
    }
}
@media (max-width: 420px) {
    .main h2{
        font-size: 36px;
    }
}